.new-tweet textarea {
  font-weight: 600;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 5px solid #545149;
  background-color: transparent;
  margin-bottom: 0.5em;
  height: 50px;
  outline: none;
}

.new-tweet input {
  border: none;
  padding: 3px 15px;
  color: #fff;
  font-family: 'Bungee', cursive;
  background-color: #4056A9;
}
.new-tweet span {
  float: left;
  font-family: 'Bungee', cursive;
}